<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="../Style.css" rel="stylesheet"/>
	<script src="../Gdo.js"></script>
	<script src="../App.js"></script>
	<!--
	<link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
	<link rel="manifest" href="manifest.json">
	--->
	<title>{{TITLE}}</title>
	<!--
	<meta name="description" content="">
	<meta property="og:title" content="{{TITLE}}">
	<meta property="og:description" content="">
	<meta property="og:url" content="">
	--->
</head>
<body>
{{NOSCRIPT}}
{{CONTENT}}
<script>Init({cr:"{{CONTENTCRYPT}}",np:"{{NETPROTECTION}}"})</script>
</body>
</html>
